# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# playwright auth state
storageState.json
/test-results/storageState.json
/tests/e2e/.auth/

# playwright reports / test artifacts
/playwright-report/
/test-results/

/test-results2/
# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
local.properties
keystore.properties
*.jks
*.pem
*.bak
*.bak.*
*.backup
*.backup.*
/backups/
/tmp_db_schema.prisma
/prisma/_prisma_diff_full.sql
/prisma/*diff*.sql

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local env files
.env*.local
.env
.env.prod_backup

# backup passwords
.backup-password.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Electron
/electron/dist
/electron/out

# Local Netlify folder
.netlify
